--- 
title: "5 UX problems you can help us fix right now" 
author: Ben Leduc-Mills 
author_gitlab: leducmills 
author_twitter: gitlab 
categories: open source 
image_title: '/images/blogimages/pexels-sevenstorm-juhaszimrus-704767.jpg'
description: “We spent 40 hours talking to 20 of you. Now we’ve got some issues we’d like your help on.” 
tags: contributors, community, open source, research, UX  
postType: Content marketing
--- 

We’ve all been there. You’re sailing along, being productive, and wham! Something inexplicably awful disrupts your workflow. You ask yourself, “How could _anyone_ think this was a good idea?” Maybe it’s a bug, slow performance, or bad design. One of the reasons we conduct [user experience research at GitLab](/handbook/engineering/ux/ux-research/) is to find these problems and report back to our teams so they can fix them. 

![Grumpy cat looking over computer](/images/blogimages/hhh13-tEMU4lzAL0w-unsplash__1_.jpg)
We've all been there
{: .note.text-center}

With a product as rich and complex as GitLab, we find _a lot_ of problems. So many, in fact, we often can't fix them as fast as you find them. ([Although we do try!](/releases/2022/05/22/gitlab-15-0-released/#bug-fixes)) The great thing about GitLab is that [**everyone** can contribute](/company/mission/). This is the first in a new series of blog posts where the UX researchers at GitLab transform their findings into some great first contributions that community members can explore. 

We recently spent 2 hours each with 20 people who use GitLab, going through specific tasks related to branch and merge request operations, and, predictably, we found plenty of things to work on (although this research focused on the code creation and review process) - you can check out the full report below:

<figure class="video_container">
<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FmF555KKsf1m1UyyXbWxXu2%2FBenchmarking-Slides%3Fnode-id%3D943%253A12915%26scaling%3Dscale-down%26page-id%3D40%253A124%26starting-point-node-id%3D943%253A12915" allowfullscreen></iframe>
</figure>


Witout further ado, here are five issues we would **love** your contributions on:

1. [Show more branches in the drop down menu while reverting a merge request.](https://gitlab.com/gitlab-org/gitlab/-/issues/358218) 
1. [Increase the dicoverability of the insert suggestion feature.](https://gitlab.com/gitlab-org/gitlab/-/issues/368716) 
1. [Fix data loss when switching from inline to side-by-side view on MR creation page.](https://gitlab.com/gitlab-org/gitlab/-/issues/358217) 
1. [Show selected labels within the dropdown menu.](https://gitlab.com/gitlab-org/gitlab/-/issues/322945) 
1. [Improve clarity of text-only buttons -- Move 'mark as draft' onto new line](https://gitlab.com/gitlab-org/gitlab/-/issues/358437) 

Wondering where to start? Check out [this blog post](/blog/2022/02/07/first-time-open-source-contributor-5-things-to-get-you-started/) and [our development guide](/community/contribute/development/) and become an all-star contributor! 

Need guidance or help? Feel free to leave a comment directly on one of the issues linked above, or find support in the "get help" section [in our contributing guide](/community/contribute/#getting-help).

Contributing to an open source project also brings a ton of proven benefits you might not expect:

- Contributing is one of the most efficient ways to learn, as it is learning by doing and [being guided by merge request coaches](/job-families/expert/merge-request-coach/). Contributing has been proven time and time again to be the best form of learning!
- Public exposure and explicit appreciation from the open source community, which helps build your public profile And show your expertise ... you never know when that resume might come in handy! 😊 
- You're in for a treat: **first-time** contributors receive GitLab swag, **regular** contributors (5 MRs or more) are eligible for the [GitLab Heroes program](/community/heroes), and **top** contributors may be invited to join the [GitLab Core team](/community/core-team/).

And not only is this beneficial for you, but also for your employer (if you are employed). Because you are growing and learning at a rapid speed from the best, you will get a faster turnaround time when integrating a feature into the platform since you know how the system works. You will get more value from the most precious resource in the universe, time 🕐. Take advantage of this experience today. We are convinced of the benefits and we hope you and/or your employer are too now. Let's aim for the moon together. 🚀 

1,2,3...**let's go!**

Cover image by [SevenStorm JUHASZIMRUS](https://www.pexels.com/@sevenstormphotography/) on [Pexels](https://www.pexels.com/photo/123-let-s-go-imaginary-text-704767/)
{: .note}
